body {
  background-color: #5d5c61;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.middle {
  background-color: #938e94;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%,-50%);
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
}

.img-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: calc(90vh - 100px);
}

.background {
  background-color: #5d5c61;
  color: #3a393d;
  position: fixed;
  white-space: nowrap;
}

.grey {
  filter: grayscale(100%) brightness(40%);
}